<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make me laugh</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <form class='myform'>
        <div class='select'>
            <label for="dropdown">Choose a type of joke: </label>
            <select name="joketype" id="dropdown" class='options'>
                <option value="dad">Dad</option>
                <option value="tronald">Tronald</option>
                <option value="geek">Geek</option>
            </select>
        </div>
        <div class='output' id='output'>
        </div>
    </form>
    <script src='scripts.js'></script>
</body>
</html>